* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: fit-content;
  padding: 3rem;
}

.login-container__forget-password {
  text-decoration: none;
  color: #2c7cda;
  align-self: flex-end;
  margin-bottom: 2rem;
}

.arrow-back {
  width: 50px;
  left: 0;
  position: absolute;
  margin: 1rem;
}

#checkbox-password {
  margin-bottom: 4rem;
}

.spacer {
  flex-grow: 0.1;
}

#city {
  background: #f0f0f0;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  font-family: gilroy;
  font-weight: 400;
  font-size: 18px;
  border: 1.75px solid #f0f0f0;
}

.input-field:before {
  content: ".";
  background: url("../../ui-kit/svg/green-check.svg");
  padding: 14px;
  background-size: 14px;
  background-repeat: no-repeat;
  color: transparent;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 14px;
  display: default;
  visibility: visible;
}
.hide-before:before {
  visibility: hidden !important;
}

.form-control.line-success,
.form-control.line-danger {
  border-width: 3px !important;
  box-shadow: inherit !important;
}

.input-field {
  position: relative;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

#checkbox-password {
  outline: none;
}

#city-block.line-success .form-select {
  border-color: #74ca65 !important;
  border-width: 2px !important;
}
#city-block::before {
  background-image: url("../../ui-kit/svg/arrow_gray_right.svg");
  background-size: 9px;
}
