@font-face {
    font-family: 'gilroy';
    src: url("../fonts/MullerRegular.ttf");
    font-style: normal;
}

/* отключение бутстраповской мешанины */
input[type="checkbox"]:focus,input[type="radio"]:focus,select.form-select:focus, .btn:focus {
    outline: 0 none ;
    box-shadow: none ;
}
.btn{
    width: 280px;
    height: 48px;
    border-radius: 12px;
    border: 0;
}


/* cтили кнопок */
.btn-hollow, .btn-hollow2{
    background: linear-gradient(180deg, #FAFBFD 0%, #EDEDED 100%);
}
.btn-hollow:active, .btn-hollow2:active{
    background: linear-gradient(180deg, #EBEDF1 0%, #DDDDDD 100%);
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.btn-filled{
    background: linear-gradient(122.6deg, #FF7116 2.97%, #FB9E48 105.31%);
    box-shadow:  0px 0px 14px rgba(255, 122, 0, 0.35), 0px 1px 3px rgba(0, 0, 0, 0.14);
}
.btn-filled:active{
    background: linear-gradient(122.6deg, rgba(255, 110, 20, 0.774) 2.97%, #ff9f45 105.31%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.14), inset 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.btn-filled2{
    background: linear-gradient(122.6deg, #393939 2.97%, #261616  105.31%);
    box-shadow:  0px 0px 14px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.14);
}
.btn-filled2:active{
    background: linear-gradient(122.6deg, #393939    2.97%, #261616 105.31%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25), inset 0px 4px 8px rgba(0, 0, 0, 0.25);
}
.btn-text{
    font-family: gilroy;
    font-size: 18px;
    font-weight: 500;
    color:rgba(174,174,174,1);
    margin: 0;
}
.btn-hollow2 > .btn-text{
    color: rgba(39, 39, 39, 1);
}
.btn-filled > .btn-text{
    color: rgba(255,255,255,1);
}
.btn-filled2 > .btn-text{
    color: rgba(255,255,255,1);
}

/* чек боксы и прочее */
.checkbox-wrapper{
    background: #FFFFFF;
}
.form-check-inline > input[type="checkbox"].form-check-input{
    width: 16px;
    height: 16px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 4px;
}
.form-check-inline > input[type="checkbox"].form-check-input:checked{
    border: 1px solid #FE974D;
    background-color: #F47934;
    background-image: url("../svg/checkMark.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position:  center center;
}
.form-check-inline > input[type="checkbox"].form-check-input:disabled{
    border: 1px solid #DCDCDC;
    background-color: #C4C4C4;
    background-image: url("../svg/white_check_disabled.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position:  center center;
    border: 1px solid #DCDCDC;
}
.form-check-inline > input[type="radio"].form-check-input{
    width: 16px;
    height: 16px;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 16px;
}
.form-check-inline > input[type="radio"].form-check-input:checked{
    border: 1px solid #FE974D;
    background-color: #FFFFFF;
    background-image: url("../svg/orange_circle.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position:  center center;
}
.form-check-inline > input[type="radio"].form-check-input:disabled{
    border: 1px solid #DCDCDC;
    background-color: #F47934;
    background-image: url("../svg/white_circle.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position:  center center;
    border: 1px solid #DCDCDC;
}
.form-switch .form-check-input {
    height: 17px;
    width: 32px;
}
.form-switch .form-check-input {
    border-color: rgba(0, 0, 0, 0.25);
    outline: 0;
    background-color:rgba(196, 196, 196, 1);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
.form-switch .form-check-input:focus{
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
.form-switch .form-check-input:checked {
    background-color: #F47934;
    border-color: #FE974D;
    border: none;
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba(255,255,255,1.0)'/></svg>");
}
label.form-check-label{
    font-family: gilroy;
    font-weight: 400;
    font-size:14px;
    color:rgba(128, 128, 128, 1); /* несостыковка */
}
.link-white img{
    margin-right : 8px; 
    }
a.link-white {
    color: #FFFFFF;
}
a.link-orange {
    color: #FF7116;
}
a {
    text-decoration: none;
}
/* лайн эдиты и прочее */
input[type="email"].form-control,input[type="password"].form-control{
    background: #F0F0F0;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    font-family: gilroy;
    font-weight: 400;
    font-size: 18px;
    padding-left: 43px;
    border: 1.75px solid #F0F0F0;
}
input[type="email"].form-control.line-danger{
    border-color: #DD3A3A;
    box-shadow: none;
}
input[type="email"].form-control.line-success{
    border-color: #74CA65;
    box-shadow: none;
}
.form-label.line-success{
    width:100%;
    text-align: center;
    color: #74CA65;
    margin-bottom: 0;
    font-family: gilroy;
    font-weight: 400;
    font-size: 14px;
}
.form-label.line-danger{
    width:100%;
    text-align: center;
    color: #DD3A3A;
    margin-bottom: 0;
    font-family: gilroy;
    font-weight: 400;
    font-size: 14px;
}
input[type="email"].form-control:focus,input[type="password"].form-control:focus{
    background: #CDDEEA;
    border: 1.75px solid #2B63AE;
    box-sizing: border-box;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
input[type="password"].form-control{
    -webkit-text-security: disc; /* поменяю в будущем */
}

/* дропдауны */
select.form-select{
    position: absolute;
    border: 0;
    border-radius: 0;
    height: 42px;
    font-family: gilroy;
    font-weight: 400;
    font-size: 18px;
    padding-left: 60px;
}
option{ /* я ебал */
    background-color: rgb(255,255,255);
    border-bottom: 1px;
    border-style: solid;
    border-color: rgba(30, 30, 30, 1);
}
.lang-icon{
    position: absolute;
    background-color:white;
    background-image: url("../svg/lang.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 24px;
    height: 42px;
    width: 42px;
    z-index: 10;
}

/* кнопки gps и закладок */
button.btn.btn-hollow.btn-gps{
    width:44px;
    height: 44px;
    border-radius: 22px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.15);
    background-color: #FFFFFF;
    background-image: url("../svg/gps.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px;
}
button.btn.btn-hollow.btn-gps:active{
    background-color: #DDDDDD;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.25);
}
button.btn.btn-hollow.btn-favourite{
    width:32px;
    height: 42px;
    background-image: url("../svg/favourite.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 25px;
}
button.btn.btn-hollow.btn-favourite:active{
    background-color: #DDDDDD;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.25);
}

/* тексты */
h3.text-attention{
    font-family: gilroy;
    font-weight: 400;
    font-size:28px;
    text-align: center;
    color:rgba(65, 65, 65, 1);
}
h3.text-header{
    font-family: gilroy;
    font-weight: 500;
    font-size:18px;
    text-align: center;
    color:rgba(65, 65, 65, 1);
}
h3.text-bold{
    font-family: gilroy;
    font-weight: 700;
    font-size:24px;
    text-align: center;
    color:rgba(65, 65, 65, 1);
}
h3.text-common{
    font-family: gilroy;
    font-weight: 400;
    font-size:18px;
    text-align: center;
    color:rgba(65, 65, 65, 1);
}
.danger-icon{
    width:14px;
    height:14px;
    background: url("../svg/danger.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px;
    margin-right: 5px;
}
.success-icon{
    width:14px;
    height:14px;
    border-radius: 7px;
    background: url("../svg/success.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 15px;
    margin-right: 5px;
}

/* Шапка для экранов */


.screen-hat .arrow-back {
    position: absolute;
    width: 50px;
    margin: 1rem;
}

.screen-hat { 
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    border-bottom-left-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    box-shadow: 0 0 2rem rgb(241, 241, 241);
}

.screen-hat .mb-3 {
    flex-grow: 1;
    padding: 2rem 0;
}

.screen-hat .mb-3, .screen-hat h3 { 
    margin-bottom: 0 !important; 
}

.arrow-forward {
    transform: rotate(180deg);
}

/* Карточка с маршрутом, может пригодиться где-то */

.trip-card {
    width: 100%;
    position: relative;
    display:flex;
    flex-direction: column;

    /* Как задать отношение сторон? Проверить!!! */
    aspect-ratio: 322/233;
    overflow:hidden;

    border-radius: 12px;
    filter: drop-shadow(0px 7px 9px rgba(0, 0, 0, 0.2));
}

.trip-card__background {
    
    position:absolute;
    z-index: -6;
    width: 100%;
    height: 100%;
}

.trip-card__content {
    height: 100%;
    width: 100%;
    box-shadow: inset 0px -64px 33px rgba(0, 0, 0, 0.55);

    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;

    color: white;
    padding: 12px 17px;

}

.trip-card__rating {
    position: absolute;
    top: 0;
    right:0;
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    padding: 0.35rem 0.6rem ;
    padding-right: 0.8rem;
    background-color:#0f0f0f;
    border-radius: 12px 12px 0px 12px;
    border-bottom-right-radius: 0;

}

.trip-card__rating__number {
    margin-left: 0.3rem;
    font-size: 10px;
}

.trip-card__rating__stars {
    display:flex;
    align-content: center;
    justify-content: center;
}

.trip-card__rating__stars img{
    height: 8px;
    margin: 0;
    width: 8px;
}

.trip-card__title {
    width: 70%;
    font-size: 18px;
    font-weight: 700;
}

.trip-card__footer {
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 12px;
    color: #F0F0F0;
}

.trip-card__footer__fake-button {
    align-self: flex-end;
    margin-right: 0.4rem;
    aspect-ratio: 2 / 1;
    min-width: 50px;
    min-height: 25px;

    border: 0;
    border-radius: 6px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.trip-card__footer__fake-button img {
    height: 10px;
    width: 13px;
}

.spacer {
    flex-grow:1;
}

.trip-card__footer__length {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.trip-card__footer__length img {
    margin-right: 0.25rem;
}

.trip-card__footer__time { 
    margin-left: 0.5rem;
}


/* Я попытался сделать красивый */
.dropdown-icon {
    position:absolute;
    height: 42px;
    width: 42px;
    z-index: 10;
    padding: 0.6rem;
}
.dropdown {
    display:flex;
    align-items: stretch;
    justify-content: stretch;
    width: 100%;
    border: 0;
    border-radius: 0;
    background-color: white;
}
.form-select-updated{ 
    height:100%;
    width: 100%;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    text-align: right;
    font-size: 14px;
    z-index: 1;
}
.dropdown-title {
    position: absolute;
    align-self: center;
    padding-left: 60px;
    font-family: gilroy;
    font-weight: 400;
    font-size: 18px;
}
.dropdown option {
    position:relative;
    font-family: gilroy, sans-serif;
    font-weight: 400;
    font-size: 18px;
}